html, body { margin:0; padding:0; overflow:hidden }
.svg{
  border-style:ridge;
  background-color:gainsboro;
  position: relative;
  height: 100vh;
}

.country{
  stroke: gray;
  stroke-width: 0.5;
  cursor: pointer;
}
.country:hover{
  stroke-width: 1;
  stroke: gray;
}
.place-label{
  /* font-size: 10px;
  font-weight: 600; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* letter-spacing: -.5px;
  margin-top: .5em; */
  stroke: white;
  fill: black;
  stroke-width: 0.3px;
  visibility: hidden;
}