.legend {
  position: absolute;
  /* background-color: rgb(214, 233, 243);
  margin-left: 10px;
  border-radius: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
