.marker{
    fill: rgba(216, 8, 8, 0.5);
    stroke: whitesmoke;
    stroke-width: 0.5 ;
    cursor: pointer;
  
  }
  .marker:hover { 
    stroke: rgb(255, 255, 255);
    fill: rgba(31, 1, 1, 0.5);
  }