.marker-red{
    fill: rgba(105, 15, 15, 0.7);
    stroke: white;
    stroke-width: .2 ;
    cursor: pointer;
  
  }
  .marker-red:hover { 
    /* stroke: rgb(255, 255, 255); */
    fill: rgba(31, 1, 1, 0.5);
  }
  
  .marker-black{
    fill: rgba(26, 23, 23, 0.7);
    stroke: rgb(185, 144, 144);
    stroke-width: 0.2 ;
    cursor: pointer;
  
  }  
  .marker-black:hover { 
    stroke: rgb(255, 255, 255);
    fill: rgba(78, 19, 19, 0.5);
  }