.home{
  display:flow-root;
}
.home .row{
  display:flow-root;
  padding-top: 20px;
}
.panels{
  /* text-align: center; */
  margin: 0 auto;
  display: flex;
  /* width: 90%; */
  margin-top: 10px;
  float: right;
}
.pie-container{
  display: flow-root;
  margin: 0 auto;
}
.pie-container .pie{
  float: right;
  margin-right: 20%;
}
.panels .card{
  margin-right: 15px;
  flex: 1;
  border-bottom: 2px solid rgb(197, 23, 23);
}
.panels .group-card-left{
  flex: 1;
}
.panels .group-card-right{
  flex: 1;
}
.panels .orange-title{
  margin-right: 10px;
  margin-left: 10px;
}
.panels .red-title{
  margin-right: 10px;
  margin-left: 10px;
}
.panels .black-title{
  margin-right: 10px;
  margin-left: 10px;
}
.panels .green-title{
  margin-right: 10px;
  margin-left: 10px;
}
.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-bottom: 6px rgb(197, 23, 23);
  
}
.fill img {
  flex-shrink: 0;
  width: 70%;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  border-radius: 10px;
  opacity: 0.7;
  cursor: pointer;
}
.fill i{
  cursor: pointer;
  /* color: gray; */
}
.link{
  min-width: 150px;
  color: #008dc9;
  text-align: right;
  transition: all 0.3s ease;
  font-weight: 700;
  font-size: 25px;
  line-height: normal;
}