.mapboxgl-popup {
    z-index: 30;
    position: absolute; 
    display: flex;
    will-change: transform;
    pointer-events: none;
     font: 120px/20px Helvetica Neue,Arial,Helvetica,sans-serif; 
    text-align: center;
    transition: 0.3s;
}
.mapboxgl-popup-anchor-bottom{
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}
.mapboxgl-popup-anchor-bottom 
.mapboxgl-popup-tip {
    border-top-color: rgba(255,255,255,.9);
    align-self: center;
    border-bottom: none;
}
.mapboxgl-popup-tip {
    border: 11px solid transparent;
    width: 0;
    height: 0;
    z-index: 1;
}
.mapboxgl-popup-content {
    border-radius: 6px;
    overflow-x: hidden;
    overflow-y: hidden;
    background: ghostwhite;
    box-shadow: 0 30px 90px -20px rgba(0,0,0,.3);
    padding: 0;
    pointer-events: auto;
}
.maphub-popup-inner {
    position: relative;
}
.ps {
    overflow: hidden!important;
    overflow-anchor: none;
    touch-action: auto;
}
.nicetext-title{
    font-weight : 900;
    font-size: 15px;
    color:black;
    background-color: whitesmoke;
}
.nicetext {
    font-size: 10px;
    line-height: 1.6;
    overflow-wrap: break-word;
}
.nice-font-family, .nicetext {
    font-family: latoregular,sans-serif;
    font-weight: 400;
}
.nicetext :last-child {
    margin-bottom: 0;
}
.closePanel{
    cursor: pointer;
    font-size: 15px;
    position: absolute;
    top: 0;
    right: 8px;
    z-index : 10;
}
.newDeaths,.newCases,.totalRecovered,.totalDeaths,.totalCases,.headToday{
    margin: 2px;
    font-size: 10px;
    /* font-weight: bold; */
    text-align: left;
}
.newDeaths{
    color: black;
}
.newCases{
    color: darkred;
}
.totalRecovered{
    font-weight: bold; 
    color: green;
}
.totalCases{
    font-weight: bold; 
    color:blue;
}
.totalDeaths{
    color: black;
    font-weight: bold; 

}
.rowHead{
    font-size: 12px;
    font-weight: bold;
    padding: 0px !important;
    height: 15px !important;
}
.table td{
    padding: 3px;
    padding-top: 1px;
    /* padding-right:4px ;
    padding-left:4px ; */
}
.center{
    text-align: center;
}