.slice {
  /* stroke: rgb(208, 207, 224);
    stroke-width: 2px; */
  /* opacity: 0.8; */
}
.slice:hover {
  opacity: 0.8;
  stroke: rgb(208, 207, 224);
  stroke-width: 2px;
}
.tooltip-donut {
  position: absolute;
  /* border: solid; */
  color: white;
  border-radius: 5px;
  z-index: 1;
  background-color: rgba(66, 141, 163, 0.9);
}
