.svg{
  border-style:ridge;
  /*background-color: rgb(86, 77, 100);*/
  background-color:azure;
}
.marker{
  fill: rgba(255, 0, 0,0.5);
  stroke: white;
  stroke-width: 1.5 ;
  cursor: pointer;

}
.marker:hover { 
  stroke: red;

}

