html, body { margin:0; padding:0; overflow:hidden }
.svg{
  border-style:ridge;
  /*background-color: rgb(86, 77, 100);*/
  background-color:azure;
  position:fixed; top:0; bottom:0; left:0; right:0.
}
.marker{
  fill: rgba(255, 0, 0,0.5);
  stroke: white;
  stroke-width: 0.5 ;
  cursor: pointer;

}
.marker:hover { 
  stroke: red;

}
.country{
  fill : cadetblue
}

