html, body { margin:0; padding:0; overflow:hidden }
.svg{
  border-style:dashed;
  /*background-color: rgb(86, 77, 100);*/
  background-color:azure;
}
.marker{
  fill: rgb(218, 218, 97);
  stroke: whitesmoke;
  stroke-width: 0.5 ;
  cursor: pointer;

}
/* .marker:hover { 
  stroke: red;

} */
.country{
  stroke : blue;
  stroke-width: 0.1;
  cursor: pointer;
}
.country:hover{
  stroke-width: 0.5;
  stroke: orangered;
}

#legend {
  border: 1px solid silver;
  border-top: 0;
}

.legend-key path {
  display: none;
}

.legend-key text {
  font-size: 1rem;
}

.legend-key line {
  stroke: #000;
  shape-rendering: crispEdges;
}