.table-container{
    padding-left: 3em;
    padding-right: 3em;
    text-align: center;
    font-size: .8rem;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}
.counter2{
    font-size: 10px;
}