body {
  height: 100%;
  margin: 0;
}
.header{
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  text-align: center;
  height: 100%;
}
.footer {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  text-align: center;
  height: 5vh;
}
.main{
  /* overflow: scroll; */
  height: 100%;
  /* padding:0 16px; */
}
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
}
.statistics{
  margin-left: 10px;
  margin-top: 40px;
}
.github-link{
  color : 'white' !important
}
.github-link:hover{
  color : darkblue !important
}
.cards{
  text-align: center;
  margin: 0 auto;
  display: table;
}